<%-include header%>
<div style="border:1em dashed green;width:1024px;margin:1em auto;">
  <div class="text-warning text-center" style="margin:8em auto;">
    <h1 style="line-height:4em;">欢迎来到后台管理系统！</h1>
    <h3>请选择相应功能</h3>
  </div>
</div>
<%-include footer%>