<div style="clear:both;"></div> 
<div class="footer">
  <span>Copyright &copy;2017 <a href="/">校园论坛系统</a>. 当前呈现版本 17.06.24</span><br>
  <span>第四开发小组（潘凯、颜彦、周晶晶、倪明、戴中鑫） 备案号 14416520号</span>
</div>
</body>
</html>