<%-include header%>
  <div style="width:1024px;margin:0.5em auto;">
    <ol class="breadcrumb" style="margin-top:0.2em;">
      <li><a href="/">首页</a></li>
      <li class="active">谈天说地</li>
    </ol>
  </div>
  <div class="container row" style="width:1022px;height:300px;margin:0 auto;border:1px solid #8ecc75;">
     
  </div>
<%-include footer%>