<div style="clear:both;"></div> 
<div class="footer">
  <span>Copyright &copy;2017 <a href="/">校园论坛系统</a>. 当前呈现版本 17.06.24</span><br>
  <span><a href="http://weibo.com/p/1005053826537889/home?from=page_100505_profile&wvr=6&mod=data&is_all=1#place">@draven_xiaokai</a> 备案号:苏ICP备16031521号-1</span>
</div>
</body>
</html>